body {
	background-color: #66ccff;
	font-family: sans-serif;
	text-align: center;
	margin:0;
}
p {
	text-align:left;
	margin:20px;
	color:black;
	text-indent:40px;
	font-size:20px;
}
h1 {
	font-weight: bold;
	color:#cccc00;
	text-decoration: underline;
	text-align:center;
}
h2{
	color:#cccc00;
	text-decoration: underline;
	text-align:center;
}
h4{
	color:#cccc00;
	text-decoration: underline;
	text-align:center;
}
img{
	border-color: black;
	border-style: solid;
	height: 300px;
	width: 300px;
}
h5{
	color:rgb(255,235,97);
	font-size:20px;
}
.abcd {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
ol{
	text-align: left;
	color: black;
	font-size:20px;
}
ul{
	text-align: left;
	color: black;
	font-size:20px;
}
li.header {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
